<div class="console-component">
  <textarea class="console-component-textarea"></textarea>
</div>

<style>
.console-component{
  display: block;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}

.console-component-textarea {
  background-color: black;
  color: yellow;
}
</style>

<script>
(function(){
  var th = '.console-component';
  var tx = '.console-component-textarea';

  $(th).hide();
  $(tx).val(' #-> ');

  $(document).ready(function(){

  });
}());
</script>
