<!-- PROBLEMINO DIFFICILE A TUTTI COME FACCIO A NESTARE
UN COMPONENET DENTRO UN ALTRO???? -->

<div class="custom-textarea-box">
  <div class="editor-menu">
    <span class="textarea-menu confirm-item"><i class="material-icons">done</i></span>
    {% include components/code_dropdown.html %}
    <span class="textarea-menu code-item"><i class="material-icons">code</i></span>
  </div>
  <textarea class="custom-textarea">Write whatever you want...</textarea>
</div>

<style>
.custom-textarea {
  width: 100%;
  background-color: inherit; //ffffff //bombola servono costanti ma ci sono!!!!  $background-color
  border-color: blue;
  border-width: thin;
  border-style: solid;

  font-size: 24px;
  color:blue;
}

.textarea-menu {
  font-size: 10px;
  cursor: pointer;
}

.menu-item-selected.material-icons {
  .background-color: yellow;
  .border-style: solid;
  .border-width: thin;
  .border-color:red;
}
</style>

<!-- PROBLEMINO - CI VUOLE DYNAMIC CSS -->

<script>
(function($){
  var name = '.custom-textarea';
  $(name).css('height',window.innerHeight * 0.65);

}(jQuery));

$(document).ready(function(){
  $('.custom-textarea-box').hide();

  $('.confirm-item').click(function(){
    console.log('confirm-item clicked');
    $('.custom-textarea-box').fadeOut();
    model.addDoc($('.custom-textarea').val());
  });

  $('.textarea-menu.code-item').click(function(){
    console.log('code-item clicked');
  });

  $('.textarea-menu').click(function(){
    console.log('textarea-menu clicked');

    str = $('.custom-textarea').val().replace(/(?:\r\n|\r|\n)/g, ' ');
    $('.custom-textarea').val(str);
  });
});
</script>
