<div class="item-chooser">
  <div class="gallery item-chooser-new-doc">
      <i class="material-icons">note_add</i>
  </div>

  <div class="gallery item-chooser-component">
      <i class="material-icons">code</i>
  </div>

</div>

<style>
.item-chooser{
  margin: auto;
  left:0;
  right: 0;
  width: 800px;
}



div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>

<script>
(function(){
  console.log('item-chooser activated');
  // var notaion: write down all dependencies
  var th = '.item-chooser';
  var comp =".item-chooser-component";
  var itemDoc = '.gallery.item-chooser-new-doc'
  var dep = '.add-component';
  var addDoc = '.add-document-component';
  var addDoc2 = '.generic-editor-component';

  $(th).hide();

  $(document).ready(function(){
    $(comp).click(()=>{
      console.log(comp + ' clicked');
      $('.home-content-manager > *').hide();
      $(dep).show();
    });

    $(itemDoc).click(()=>{
      console.log(itemDoc + 'clicked');
      $('.home-content-manager > *').hide();
      $(addDoc2).show();
    });

  });
}());
</script>
