<!-- This model depends on document and window. In other words it doesn't have
any dependencies because those objects are available in every browser -->

<script>
'use strict';

var M = (function(){
  //CUSTOM EVENTS EMITTER
  var clockEv = new Event('clock');
  var newDoc = new Event('newDoc');
  var screenSizeChanged = new Event('screenSizeChanged');
  var clientWidthChanged = new Event('clientWidthChanged');
  var clientHeightChanged = new Event('clientHeightChanged');

  function M(){
    this.clock=0;
    document.dispatchEvent(clockEv);

    this.currDoc = [];
    this.clientWidth = 0;
    this.clientHeight = 0;
    this.screenWidth = 100;//document.body.clientWidth;
    this.screenHeight = 100;//document.body.clientHeight;
    this.windowWidth = window.innerWidth;
    this.windowHeight = window.innerHeight;

    window.addEventListener('resize', this.onResize);
    document.addEventListener('resize', this.onResize);
  }

  M.prototype.setClock = function(clock)
  {
    this.clock = clock;
    document.dispatchEvent(clockEv);
  };

  M.prototype.getClock = function()
  {
    return this.clock;
  };

  M.prototype.addDoc = function(doc)
  {
    this.currDoc.push(doc);
    document.dispatchEvent(newDoc);
  }

  M.prototype.getCurrDocLen = function()
  {
    return this.currDoc.length;
  }

  M.prototype.getCurrDoc = function ()
  {
    return this.currDoc;
  }

  M.prototype.getScreenWidth = () =>
  {
    return this.screenWidth;
  }

  M.prototype.setScreenWidth = (screenWidth) =>
  {
    this.screenWidth = screenWidth;
    document.dispatchEvent(screenSizeChanged);
  }

  M.prototype.getScreenHeight = () =>
  {
    return this.screenHeight;
  }

  M.prototype.setScreenHeight = (screenHeight) =>
  {
    this.screenHeight = screenHeight;
    document.dispatchEvent(screenSizeChanged);
  }

  M.prototype.getWindowWidth = function ()
  {
    return this.windowWidth;
  }

  M.prototype.setWindowWidth = function (windowWidth)
  {
    this.screenWidth = windowWidth;
    document.dispatchEvent(screenSizeChanged);
  }

  M.prototype.getWindowHeight = function()
  {
    return this.windowHeight;
  }

  M.prototype.setWindowHeight = function(windowHeight)
  {
    this.windowHeight = windowHeight;
    document.dispatchEvent(screenSizeChanged);
  }

  M.prototype.getClientWidth = function(){
    return this.clientWidth;
  };

  M.prototype.setClientWidth = function(w){
    this.clientWidth = w;
    document.dispatchEvent(clientWidthChanged);
  };

  M.prototype.getClientHeight = function(){
    return this.clientHeight;   // SUPER STATICALLY TYPED ERROR - INTROVABILE
  };

  M.prototype.setClientHeight = function(h){
    console.log('h is' + h);
    this.clientHeight = h;
    document.dispatchEvent(clientHeightChanged);
  };



  M.prototype.onResize = function()
  {
    this.clientWidth = document.body.clientWidth;
    this.clientHeight = document.body.clientHeight;

    this.screenWidth = document.body.clientWidth;
    this.screenHeight = document.body.clientHeight;

    this.windowWidth = window.innerWidth;
    this.windowHeight = window.innerHeight;


    document.dispatchEvent(screenSizeChanged);
  }

  M.prototype.init = function(that){
    console.log('init cocker');
    setInterval(()=>{
      that.setClock(that.getClock()+1);
    },1000);
  };


  return M;
}());
</script>

<script>
var model = new M();
model.init(model);
</script>
