<input
  class="search-box"
  name="search"
  type="text" />

<style>
.search-box {
  height: 30px;
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }
</style>
<script>
(function($){
  $.fn.search_box = function() {
    this.keyup(function(eventObject){     // PROBLEM - POLYMORPHISM
      var s = eventObject.target.value;
      // Andiamo sul semplice. Eliminiamo tutte le li che non contengono nel testo del tag a la parola cercata.
      var k = eventObject.target.value;
      var l = $('.post-link').each(function(index, element){ //ATTENZIONE DIPENDENZA AD ALTRE ZONE DEL DOM
        if (!$(element).html().toLowerCase().includes(k.toLowerCase())){
          //hide
          $(element).parent().parent().hide();
        } else {
          $(element).parent().parent().show();
        }
      });


    });

    return this;
  };
}(jQuery));

// CONFIGURATION
$(document).ready(function(){
    $('.search-box').search_box();
    $('.search-box').toggleClass('hide');
});
</script>
