<div class="hello-world">
  <i class="material-icons">audiotrack</i>
  <audio class="audio-component" controls>
   <source src="/assets/audio/lungo.mp3" type="audio/mp3">

   Your browser does not support the audio tag.
 </audio>


</div>

<style>


</style>

<script>
  var th = '.hello-world';
  var a = '.audio-component';

  console.log(th + ' activated');

  $(th).css('width', window.innerWidth*0.4);
  $(th).css('height', window.innerHeight*0.6);

  $(document).ready(function(){
    $(th).css('width', window.innerWidth*0.4);
    $(th).css('height', window.innerHeight*0.6);

    // AUDIO COMPONENT SETTINGS
    var audio = document.getElementsByClassName('audio-component')[0];
    //audio.autoplay='true';
  });
</script>
