<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {% include components/home_content_manager.html %}
      </div>
    </main>


    {% include components/home_content_manager_template.html %}



    <div class="group-component-visibles">
      <!-- Esempio dx panel, history panel -->
    </div>
  </body>
</html>
